# shellcheck disable=2148
use flake

if ! command -v mise &> /dev/null; then
  #shellcheck disable=2016
  echo 'Please make sure to install `mise`'
  #shellcheck disable=2016
  echo '`mise` is needed to install flutter.'
  #shellcheck disable=2016
  echo -e '\nTo install `mise`,'
  echo 'visit: https://mise.jdx.dev/getting-started.html'
else
  mise trust -y --silent --quiet
  mise install
fi
